/*-------------------------------------------------------*/
/* General */
/*-------------------------------------------------------*/
html,
body {
  min-height: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.contrast {
  color: #ff6a6a;
}
.heading {
  padding: 60px 0px;
  text-align: center;
  overflow: hidden;
}
.heading h1 {
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
hr {
  height: 2px !important;
  width: 50px;
  position: relative;
  text-align: center;
  margin: 10px auto;
  background-color: #000;
}
.subtitle {
  text-align: center;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin: 10px 0px;
}
p {
  font-size: 15px;
  color: #666;
}

/*-------------------------------------------------------*/
/* NavBar */
/*-------------------------------------------------------*/
.custom-navbar {
  border: none;
  margin-bottom: 0;
  background-color: transparent;
  padding: 5px 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll {
  background-color: #111 !important;
}
.custom-navbar .navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  line-height: 35px;
}
.custom-navbar .nav li a {
  font-size: 14px;
  line-height: 1;
  color: #fff;
  padding-right: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}
.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #ff6a6a;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}
.custom-navbar .navbar-toggle {
  background-color: transparent;
}
.custom-navbar .navbar-toggle .icon-bar {
  background: #ff6a6a;
  border-color: transparent;
}

/*-------------------------------------------------------*/
/* Home */
/*-------------------------------------------------------*/
#home {
  position: relative;
  background: url(../images/background.jpg) no-repeat center center;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: 1;
}
#home .text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  top: 35%;
  padding-bottom: 25%;
}
.btncontact {
  position: absolute;
  width: 15%;
  left: 15%;
  text-align: center;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border: solid #3a6168;
  padding: 10px 20px;
  border-radius: 9px;
  top: 50%;
  background-color: #3a6168;
}
.btnabout {
  position: absolute;
  left: 40%;
  width: 15%;
  text-align: center;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border: solid #3a6168;
  padding: 10px 20px;
  border-radius: 9px;
  top: 50%;
  background-color: #3a6168;
}
.btnportfolio {
  position: absolute;
  width: 15%;
  left: 66%;
  text-align: center;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  border: solid #3a6168;
  padding: 10px 20px;
  border-radius: 9px;
  top: 50%;
  background-color: #3a6168;
}
.typed-cursor,
.element {
  display: inline-block;
  font-weight: bold;
}
.bouncing-icon {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 100px;
  width: 50px;
  -webkit-animation: 3s ease 0s normal none infinite running bounce;
  animation: 3s ease 0s normal none infinite running bounce;
  color: #fff;
  font-size: 40px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.bouncing-icon:hover {
  background: none;
  color: #ff6a6a;
}

/*-------------------------------------------------------*/
/* About */
/*-------------------------------------------------------*/
#about {
  background-color: #f5f5f5;
}
#about img {
  width: 450px;
  margin: auto;
  box-shadow: 0 0 20px #ddd;
  -webkit-box-shadow: 0 0 20px #ddd;
  -moz-box-shadow: 0 0 20px #ddd;
}
#about .social a {
  width: 32px;
  height: 32px;
  color: #fff;
  background: #000;
  display: inline-table;
  margin: 40px 5px;
  font-size: 15px;
  border-radius: 2px;
}
#about .social a i {
  display: table-cell;
  vertical-align: middle;
}
#about .social a:hover {
  background: #ff6a6a;
  text-decoration: none;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  transition: all 500ms linear;
}
#about .row h1,
#about .row h3 {
  font-weight: bold;
}
#about .about_bg p {
  padding-top: 15px;
  font-size: 16px;
  text-align: left;
  line-height: 28px;
}
#about .download-resume {
  margin: 40px 0px 60px 0px;
}
#about .download-btn {
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  padding: 12px 20px;
  color: #fff;
  background-color: #ff6a6a;
}
#about .download-btn:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

/*-------------------------------------------------------*/
/* contact */
/*-------------------------------------------------------*/
#quote {
  background: url(../images/background-1.png) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 100px 0px;
  color: #fff;
}
#quote h1 {
  margin: 0;
  font-weight: bold;
}
#quote h4 {
  margin: 20px 0 30px 0;
}
#quote .quote-btn {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
  color: #fff;
  background-color: #ff6a6a;
  border-radius: 25px;
}
#quote .quote-btn:hover {
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

/*-------------------------------------------------------*/
/* Portfolio */
/*-------------------------------------------------------*/
#portfolio {
  padding-bottom: 60px;
  background-color: #f5f5f5;
}
#portfolio .mix {
  display: none;
}
#portfolio ul.work-list {
  list-style: outside none none;
  margin-bottom: 60px;
  padding: 0;
}
#portfolio ul.work-list li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
}
#portfolio .active {
  background-color: #ff6a6a;
  color: #fff;
}
#portfolio .active:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
#portfolio ul.work-list li.active {
  color: #fff !important;
}
#portfolio ul.work-list li:hover {
  color: #ff6a6a;
}
ul.da-thumbs {
  list-style-type: none;
  padding: 0;
}
.da-thumbs li {
  overflow: hidden;
  padding: 0;
}
.da-thumbs li,
.da-thumbs li img {
  display: block;
  position: relative;
}
.da-thumbs li div.work-content {
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  color: #fff;
}
#portfolio .work-table {
  display: table;
  width: 100%;
  height: 100%;
}
#portfolio .table-cell {
  display: table-cell;
  vertical-align: middle;
}
#portfolio .work-content h3 {
  margin-top: 0;
}
#portfolio .work-content p {
  color: #fff;
  font-size: 15px;
  line-height: 150%;
  padding: 0px 20px;
}
#portfolio .work-content .fa {
  padding: 10px;
  margin: 0px 5px;
  color: #fff;
  background-color: #ff6a6a;
  border-radius: 50%;
}

/*-------------------------------------------------------*/
/* Scroll up */
/*-------------------------------------------------------*/
#scroll-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #a9a9a9;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  z-index: 9;
}
#scroll-up:hover {
  background-color: #ff6a6a;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  transition: all 500ms linear;
}

/*-------------------------------------------------------*/
/* Footer */
/*-------------------------------------------------------*/
footer {
  background-color: #111;
  padding: 50px 0px;
  text-align: center;
}
footer p {
  color: #bbb;
}
footer .fa {
  margin: 0px 5px 20px 5px;
}
footer .fa-linkedin {
  background-color: blue;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
}
footer .fa-youtube {
  background-color: #b31217;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
}
footer .fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
}
footer .fa-pinterest {
  background-color: #c8232c;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
}
.facebook-tooltip,
.twitter-tooltip,
.linkedin-tooltip,
.instagram-tooltip,
.youtube-tooltip,
.pinterest-tooltip {
  position: relative;
}
.facebook-text,
.twitter-text,
.linkedin-text,
.instagram-text,
.youtube-text,
.pinterest-text {
  visibility: show;
  background-color: #fff;
  color: #000;
  font-size: 11px;
  padding: 0px 5px;
  border-radius: 1px;
  position: absolute;
  top: 160%;
  left: 0%;
}
.facebook-tooltip:hover .facebook-text {
  visibility: visible;
}
.twitter-tooltip:hover .twitter-text {
  visibility: visible;
}
.google-tooltip:hover .google-text {
  visibility: visible;
}
.linkedin-tooltip:hover .linkedin-text {
  visibility: visible;
}
.instagram-tooltip:hover .instagram-text {
  visibility: visible;
}
.youtube-tooltip:hover .youtube-text {
  visibility: visible;
}
.pinterest-tooltip:hover .pinterest-text {
  visibility: visible;
}
